* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

html, body { height: 100%; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  margin: 0;
  color: #333;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.wrap {
  width: 100%;
  max-width: 48em;
  margin: 0 auto;
}

h1, h2 {
  margin-top: 25px;
}

p {
  line-height: 2.4rem;
}

strong {
  display: inline-block;
  margin-top: 10px;
}

pre {
  width: 100%;
  background-color: #F9F7F7;
  overflow-x: scroll;
  padding: 15px;
  border-radius: 5px;
}

label {
  margin-top: 15px;
  display: block;
}

input, textarea {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
}

input[type="submit"] {
  width: 200px;
  background-color: #4D6DE3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
