* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

html, body { min-height: 100%; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 25px 0;
}

body {
  font-size: 1.6rem;
  margin: 0;
  color: #333;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.wrap {
  width: 100%;
  max-width: 48em;
  margin: 0 auto;
}

h1, h2 {
  margin-top: 25px;
}

p {
  line-height: 1.5;
}

strong {
  display: inline-block;
  margin-top: 10px;
}

pre {
  width: 100%;
  background-color: #F9F7F7;
  overflow-x: scroll;
  padding: 15px;
  border-radius: 5px;
}

label {
  margin-top: 15px;
  display: block;
}

input, textarea {
  width: 100%;
  margin: 5px 0;
  padding: 15px;
  border: 3px solid;
  border-color: #F9F7F7;
  outline: none;
}

input:focus, textarea:focus {
  border-color: #4D6DE3;
}

input[type="submit"] {
  width: 200px;
  background-color: #4D6DE3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

a {
  color: #4D6DE3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 10px 0;
  padding-left: 40px;
}
