extends ../layouts/application

block content
  h1 Jam API
  p Jam API is a service that allows you to turn any site into a JSON accessible api using CSS selectors. To get started simply run a post request to http://www.jamapi.xyz with formdata of "url" and "json_data", here's an example of what your data should look like (you can also play around with the api in action with this form, this queries the homepage of Radcircle of their most recent articles, getting the title of the article and the permalink to the article):
  form(method="post" action="/")
    label(for='url') URL
    input(type='url' id="url" name='url' value='http://www.radcircle.com')
    label(for='json_data') JSON
    textarea(name='json_data' id='json_data' rows='10' cols='100')
      | {
      |   "title": "title",
      |   "logo": ".nav-logo img",
      |   "paragraphs": [{ "elem": ".home-post h1", "value": "text"}], 
      |   "links": [{"elem": ".home-post > a:first-of-type", "location": "href"}]
      | }
    input(type="submit" value='query site')
  h2 Code Examples
  strong Node.js
  pre
    | const request = require('request');
    | request.post('http://www.jamapi.xyz/', {form: {url: 'http://www.radcircle.com', json_data: '{"title": "title"}'}}, function(err, response, body) {
    |   console.log(body); // Return the title from http://www.radcircle.com
    | })  
  strong Ruby
  pre
    | require 'httparty'
    | require 'json'
    | response = HTTParty.post("https://www.gittip.com/#{user}/tips.json",
    | { 
    |   :body => [ { "url" => "http://www.radcircle.com", "json_data" => "{'title': 'title'}"} ].to_json,
    |   :headers => { 'Content-Type' => 'application/json', 'Accept' => 'application/json'}
    | })  
    | puts JSON.parse(response)
  h2 Features
  p Will auto pull the img src on corresponding elements, will auto pull the href from links. If passing JSON, you must provide a "elem" property, and then the element attributes you want. When you pass an array with JSON you'll get a structure that looks as follows:
  pre
    | [
    |   {
    |       "index": 0,
    |       "value": {
    |           "value": "Porter Robinson – Sad Machine (Cosmo’s Midnight Remix)"
    |       }
    |   },
    |   {
    |       "index": 1,
    |       "value": {
    |           "value": "Listen to Rachel Platten’s “Stand By You”"
    |       }
    |   }]
  p All the attributes you provide as JSON will be put inside of the value property, and the index property is to be able to track what index it ocurred in the DOM. I nested JSON values into it's own so that you can still have an "index" property returned and not run into issues.